include README.rst
include studio/config/deployment.ini_tmpl
recursive-include studio/public *
recursive-include studio/templates *
recursive-include studio/resources *
recursive-include studio/i18n *.mo
